<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [72]:
import pandas as pd
import sqlite3

try:
    con = sqlite3.connect('FinalDB.db')
    cur = con.cursor()
    print('Connection established properly')
except:
    print('Unable to connect, try again')

Connection established properly

Load the SQL magic module

In [73]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [89]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDb.db'

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [90]:
#chicago census data:
#https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01
df_chicago_census_data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
df_chicago_census_data.to_sql("CENSUS_DATA", con, if_exists = 'replace', index=False, method='multi')
df_chicago_census_data.keys()
#Public schools:
#https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01
df_chicago_public_schools = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
df_chicago_public_schools.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists = 'replace', index=False, method='multi')
df_chicago_public_schools.keys()
#Chicago Crime data:
#https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01
df_chicago_crime_data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
df_chicago_crime_data.to_sql("CHICAGO_CRIME_DATA", con, if_exists = 'replace', index=False, method='multi')
df_chicago_crime_data.keys()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

Establish a connection between SQL magic module and the database `FinalDB.db`

In [94]:
%sql SELECT * FROM sqlite_master WHERE type ='table'

 * sqlite:///FinalDb.db
Done.

[]

In [92]:
# Check existing tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, con)
print(tables)

                     name
0             CENSUS_DATA
1  CHICAGO_PUBLIC_SCHOOLS
2      CHICAGO_CRIME_DATA

In [119]:
queries = ["SELECT * FROM CHICAGO_CRIME_DATA LIMIT 3", "SELECT * FROM CENSUS_DATA LIMIT 3", "SELECT * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 3"]
for i, query_s in enumerate(queries):
    table_res = pd.read_sql(query_s, con)
    print('Table number:', i + 1, queries[i-1].split()[-3:-2])
    i = i+1
    print(table_res)
#%sql SELECT * FROM CHICAGO_CRIME_DATA

Table number: 1 ['CHICAGO_PUBLIC_SCHOOLS']
        ID CASE_NUMBER        DATE                     BLOCK IUCR  \
0  3512276    HK587712  2004-08-28        047XX S KEDZIE AVE  890
1  3406613    HK456306  2004-06-26  009XX N CENTRAL PARK AVE  820
2  8002131    HT233595  2011-04-04        043XX S WABASH AVE  820

  PRIMARY_TYPE     DESCRIPTION          LOCATION_DESCRIPTION  ARREST  \
0        THEFT   FROM BUILDING            SMALL RETAIL STORE       0
1        THEFT  $500 AND UNDER                         OTHER       0
2        THEFT  $500 AND UNDER  NURSING HOME/RETIREMENT HOME       0

   DOMESTIC  ...  DISTRICT  WARD  COMMUNITY_AREA_NUMBER  FBICODE X_COORDINATE  \
0         0  ...         9  14.0                   58.0        6    1155838.0
1         0  ...        11  27.0                   23.0        6    1152206.0
2         0  ...         2   3.0                   38.0        6    1177436.0

   Y_COORDINATE  YEAR   LATITUDE  LONGITUDE                       LOCATION
0     1873050.0  2004  41.807441 -87.703956    (41.8074405, -87.703955849)
1     1906127.0  2004  41.898280 -87.716406  (41.898279962, -87.716405505)
2     1876313.0  2011  41.815933 -87.624642  (41.815933131, -87.624642127)

[3 rows x 21 columns]
Table number: 2 ['CHICAGO_CRIME_DATA']
   COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT_OF_HOUSING_CROWDED  \
0                    1.0         Rogers Park                         7.7
1                    2.0          West Ridge                         7.8
2                    3.0              Uptown                         3.8

   PERCENT_HOUSEHOLDS_BELOW_POVERTY  PERCENT_AGED_16__UNEMPLOYED  \
0                              23.6                          8.7
1                              17.2                          8.8
2                              24.0                          8.9

   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  \
0                                          18.2
1                                          20.8
2                                          11.8

   PERCENT_AGED_UNDER_18_OR_OVER_64  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                              27.5              23939            39.0
1                              38.5              23040            46.0
2                              22.2              35787            20.0
Table number: 3 ['CENSUS_DATA']
   School_ID                                     NAME_OF_SCHOOL  \
0     610038                  Abraham Lincoln Elementary School
1     610281  Adam Clayton Powell Paideia Community Academy ...
2     610185                Adlai E Stevenson Elementary School

  Elementary, Middle, or High School         Street_Address     City State  \
0                                 ES        615 W Kemper Pl  Chicago    IL
1                                 ES  7511 S South Shore Dr  Chicago    IL
2                                 ES     8010 S Kostner Ave  Chicago    IL

   ZIP_Code    Phone_Number  \
0     60614  (773) 534-5720
1     60649  (773) 535-6650
2     60652  (773) 535-2280

                                                Link  \
0  http://schoolreports.cps.edu/SchoolProgressRep...
1  http://schoolreports.cps.edu/SchoolProgressRep...
2  http://schoolreports.cps.edu/SchoolProgressRep...

                Network_Manager  ... Freshman_on_Track_Rate__ X_COORDINATE  \
0  Fullerton Elementary Network  ...                      NDA  1171699.458
1     Skyway Elementary Network  ...                      NDA  1196129.985
2     Midway Elementary Network  ...                      NDA  1148427.165

  Y_COORDINATE   Latitude  Longitude COMMUNITY_AREA_NUMBER  \
0  1915829.428  41.924497 -87.644522                     7
1  1856209.466  41.760324 -87.556736                    43
2  1851012.215  41.747111 -87.731702                    70

  COMMUNITY_AREA_NAME  Ward Police_District                     Location
0        LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1         SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2             ASHBURN    13               8  (41.74711093, -87.73170248)

[3 rows x 78 columns]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [106]:
query1 = "SELECT COUNT(*) FROM CHICAGO_CRIME_DATA"
res1 = pd.read_sql(query1, con)
print(res1)

   COUNT(*)
0       533

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [130]:
query2 = "SELECT COMMUNITY_AREA_NAME,PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000"
res2 = pd.read_sql(query2, con)
print(res2)

  COMMUNITY_AREA_NAME  PER_CAPITA_INCOME
0  West Garfield Park              10934
1      South Lawndale              10402
2         Fuller Park              10432
3           Riverdale               8201

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [136]:
query3 = "SELECT * FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%' "
res3 = pd.read_sql(query3, con)
print(res3)

        ID CASE_NUMBER        DATE                     BLOCK  IUCR  \
0  3987219    HL266884  2005-03-31          024XX N CLARK ST  2210
1  3266814    HK238408  2004-03-13  093XX S STONY ISLAND AVE  2230

           PRIMARY_TYPE                    DESCRIPTION LOCATION_DESCRIPTION  \
0  LIQUOR LAW VIOLATION  SELL/GIVE/DEL LIQUOR TO MINOR    CONVENIENCE STORE
1  LIQUOR LAW VIOLATION   ILLEGAL CONSUMPTION BY MINOR                ALLEY

   ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  \
0       1         0  2333        19  43.0                    7.0      22
1       1         0   413         4   8.0                   48.0      22

   X_COORDINATE  Y_COORDINATE  YEAR   LATITUDE  LONGITUDE  \
0     1172680.0     1916483.0  2005  41.926269 -87.640899
1     1188539.0     1843379.0  2004  41.725301 -87.584966

                        LOCATION
0  (41.926268719, -87.640899336)
1   (41.72530099, -87.584965887)

### Problem 4

##### List all kidnapping crimes involving a child?

In [137]:
query4 = "SELECT * FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%CHILD%'"
res4 = pd.read_sql(query4, con)
print(res4)

        ID CASE_NUMBER        DATE                 BLOCK  IUCR  \
0  5766654    HN567387  2007-09-02   026XX W BELMONT AVE  1754
1  6986273    HR391350  2009-06-23     015XX S KOLIN AVE  1753
2  5276766    HN144152  2007-01-26  050XX W VAN BUREN ST  1792

                 PRIMARY_TYPE                     DESCRIPTION  \
0  OFFENSE INVOLVING CHILDREN  AGG SEX ASSLT OF CHILD FAM MBR
1  OFFENSE INVOLVING CHILDREN   SEX ASSLT OF CHILD BY FAM MBR
2                  KIDNAPPING        CHILD ABDUCTION/STRANGER

                LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  \
0  CHURCH/SYNAGOGUE/PLACE OF WORSHIP       0         0  1411        14   1.0
1                          APARTMENT       0         1  1012        10  24.0
2                             STREET       0         0  1533        15  29.0

   COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR   LATITUDE  \
0                   21.0       2     1158166.0     1921161.0  2007  41.939415
1                   29.0       2     1147638.0     1892092.0  2009  41.859855
2                   25.0      20     1143050.0     1897546.0  2007  41.874908

   LONGITUDE                       LOCATION
0 -87.694103  (41.939414712, -87.694103222)
1 -87.733544  (41.859855212, -87.733543816)
2 -87.750249  (41.874908413, -87.750249307)

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [138]:
query5 = "SELECT * FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'"
res5 = pd.read_sql(query5, con)
print(res5)

          ID CASE_NUMBER        DATE                                BLOCK  \
0    4006321    HL353697  2005-05-04                  077XX S BURNHAM AVE
1    4430638    HL725506  2005-11-09                048XX N FRANCISCO AVE
2    6644618    HP716225  2008-12-04  030XX S DR MARTIN LUTHER KING JR DR
3    2341955    HH639427  2002-09-10                   005XX N WALLER AVE
4   11110571    JA460432  2017-10-05                    076XX S HOMAN AVE
5    7399281    HS200939  2010-03-10                053XX W CONGRESS PKWY
6    3530721    HK577020  2004-08-23                  016XX W JONQUIL TER
7    7502426    HS305355  2010-05-13                035XX S WASHTENAW AVE
8    8082600    HT315369  2011-05-26                     032XX W ADAMS ST
9    7174283    HR585012  2009-10-13                      043XX W 79TH ST
10   2075734    HH292682  2002-04-05                 016XX W BRYN MAWR AV
11   1806896     G635735  2001-10-22                 0000X N HERMITAGE AV

    IUCR            PRIMARY_TYPE                     DESCRIPTION  \
0    460                 BATTERY                          SIMPLE
1    484                 BATTERY     PRO EMP HANDS NO/MIN INJURY
2    460                 BATTERY                          SIMPLE
3    460                 BATTERY                          SIMPLE
4    460                 BATTERY                          SIMPLE
5   1320         CRIMINAL DAMAGE                      TO VEHICLE
6   2024               NARCOTICS             POSS: HEROIN(WHITE)
7   1821               NARCOTICS  MANU/DEL:CANNABIS 10GM OR LESS
8    545                 ASSAULT     PRO EMP HANDS NO/MIN INJURY
9   1330       CRIMINAL TRESPASS                         TO LAND
10  2850  PUBLIC PEACE VIOLATION                     BOMB THREAT
11  2850  PUBLIC PEACE VIOLATION                     BOMB THREAT

         LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  \
0     SCHOOL, PUBLIC, GROUNDS       0         0   421         4   7.0
1    SCHOOL, PUBLIC, BUILDING       1         0  2031        20  40.0
2    SCHOOL, PUBLIC, BUILDING       0         0  2112         1   2.0
3    SCHOOL, PUBLIC, BUILDING       0         0  1512        15  29.0
4     SCHOOL, PUBLIC, GROUNDS       0         0   835         8  18.0
5     SCHOOL, PUBLIC, GROUNDS       0         0  1522        15  29.0
6     SCHOOL, PUBLIC, GROUNDS       1         0  2422        24  49.0
7    SCHOOL, PUBLIC, BUILDING       1         0   913         9  12.0
8     SCHOOL, PUBLIC, GROUNDS       0         0  1124        11  28.0
9     SCHOOL, PUBLIC, GROUNDS       1         0   834         8  13.0
10  SCHOOL, PRIVATE, BUILDING       0         0  2012        20   NaN
11   SCHOOL, PUBLIC, BUILDING       1         0  1333        12   NaN

    COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR  \
0                    43.0     08B     1196066.0     1854156.0  2005
1                     4.0     08B     1156348.0     1932071.0  2005
2                    35.0     08B     1179306.0     1885032.0  2008
3                    25.0     08B     1138238.0     1903181.0  2002
4                    70.0     08B     1155024.0     1853614.0  2017
5                    25.0      14     1140822.0     1897164.0  2010
6                     1.0      18     1163893.0     1951001.0  2004
7                    58.0      18     1158944.0     1880896.0  2010
8                    27.0     08A     1154752.0     1898890.0  2011
9                    70.0      26     1148764.0     1851854.0  2009
10                    NaN      26           NaN           NaN  2002
11                    NaN      26     1164687.0     1900646.0  2001

     LATITUDE  LONGITUDE                       LOCATION
0   41.754691 -87.557039  (41.754691074, -87.557038686)
1   41.969389 -87.700489   (41.96938944, -87.700488807)
2   41.839816 -87.617516  (41.839816207, -87.617516172)
3   41.890460 -87.767781  (41.890459933, -87.767780886)
4   41.754122 -87.707460  (41.754121535, -87.707460248)
5   41.873901 -87.758439  (41.873901397, -87.758439102)
6   42.021178 -87.672208   (42.021177601, -87.67220843)
7   41.828908 -87.692349  (41.828907913, -87.692349187)
8   41.878370 -87.707248  (41.878370307, -87.707248137)
9   41.749414 -87.730447  (41.749414464, -87.730446597)
10        NaN        NaN                           None
11  41.882984 -87.670719  (41.882984246, -87.670719218)

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [141]:
query6 = "SELECT SAFETY_ICON ,AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS WHERE SAFETY_ICON != 'NDA' GROUP BY SAFETY_ICON"
res6 = pd.read_sql(query6, con)
print(res6)

   Safety_Icon  AVG(SAFETY_SCORE)
0      Average          49.125000
1       Strong          67.210000
2  Very Strong          92.681818
3    Very Weak          14.136364
4         Weak          31.316129

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [158]:
query7 = "SELECT PERCENT_HOUSEHOLDS_BELOW_POVERTY \
FROM CENSUS_DATA \
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC \
LIMIT 5"
res7 = pd.read_sql(query7, con)
print(res7)

   PERCENT_HOUSEHOLDS_BELOW_POVERTY
0                              56.5
1                              51.2
2                              46.6
3                              43.1
4                              42.4

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [159]:
query8 = "SELECT COMMUNITY_AREA_NUMBER,COUNT(*) \
FROM CHICAGO_CRIME_DATA  \
GROUP BY COMMUNITY_AREA_NUMBER \
ORDER BY COUNT(*) DESC \
LIMIT 1"

res8 = pd.read_sql(query8, con)
print(res8)

   COMMUNITY_AREA_NUMBER  COUNT(*)
0                   25.0        43


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [167]:
query9 = "SELECT COMMUNITY_AREA_NAME, HARDSHIP FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)"
res9 = pd.read_sql(query9, con)
print(res9)

  COMMUNITY_AREA_NAME
0           Riverdale

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [164]:
query10 = '''
    SELECT cd.hardship_index, COUNT(*) AS crime_count
    FROM CHICAGO_CRIME_DATA ccd
    JOIN CENSUS_DATA cd
    ON cd.COMMUNITY_AREA_NUMBER = ccd.COMMUNITY_AREA_NUMBER
    GROUP BY cd.COMMUNITY_AREA_NAME
    ORDER BY crime_count DESC
    LIMIT 1;
'''
res10 = pd.read_sql(query10, con)
print(res10)

   HARDSHIP_INDEX  crime_count
0            73.0           43

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>